/* #Info {
  display: block;
}

#CountDown {
  margin-left: 5px;
  display: inline-block;
}

#Related {
  margin: 10%;
  display: block;
} */

.page {
  margin-left: 200px;
}

.angle-right-icon {
  margin-left: 200px;
}

#map {
  padding-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

#gallery {
  display: grid;
  height: 100%;
}

.gallery {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.map {
  position: absolute;
  left: 225px;
  top: 2600px;
  padding-right: 400px;
  margin-bottom: 100px;
}

.recommendations {
  clear: both;
}

.booking {
  display: block;
}

#reviews {
  padding-top: 500px;
  margin-right: 550px;
  margin-left: 225px;
}

.container {
  position: relative;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
}
section {
  /* position is static by default */
  margin-left: 200px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}